.task {
  width: 280px;
  background: #f5f5f5;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid white;
  max-height: 64px;
  min-height: 64px;
  margin: 0;


  &.incoming-active-request {
      background: #dcf3f7;
  }

  .left-icon-column {
      margin-right: 12px;
  }

  .request-content {
      padding-left: .5rem;
  }

  .focused-request {
      background: #99ffaa;
      width: 9px;
  }

  .cui-avatar {
      width: .75rem;
  }

  .incoming-time {
      span {
          // font-weight: bold;
          font-size: 14px;
          margin: 0 .5rem;
      }

      &.new {
        background:#2ed557;
        border-radius: 20px 20px 20px 20px;
        height: 32px;
        width: 72px;
        padding: .1rem;

        span {
          margin-left: 21px;
          color: white;
        }
      }
  }
}
