
.mini-side-bar {
  align-items: center;
  background-color: rgb(51, 51, 51);
  width: 64px;
  flex-basis: 64px;
  display: flex;
  flex-flow: column;

  .mini-side-bar-icon {
      color: white;
      margin-top: 22px;
      margin-bottom: 22px;

      &.active {
        color: #07c1e4;
        background: #333333;
      }
  }
}
