@import "~@collab-ui/core/scss/collab-ui";
@import '~@collab-ui/core/scss/layouts/sites';

// import self-contained styled components
@import '../components/ActiveContactList/ActiveContactList.scss';
@import '../components/ActivitiesColumn/ActivitiesColumn.scss';
@import '../components/HistoryList/HistoryList.scss';
@import '../components/ExpandedActivityColumn/ExpandedActivityColumn.scss';
@import '../components/IncomingRequests/IncomingRequests.scss';
@import '../components/MiniSideNav/MiniSideNav.scss';
@import '../components/CustomerInfo/CustomerInfo.scss';
@import '../components/HistoryRequest/HistoryRequest.scss';
@import '../components/MenuRow/MenuRow.scss';


$brand-font-folder: "~@collab-ui/core/fonts";
$icon-font-path: "~@collab-ui/icons/fonts";
$images-path: "~@collab-ui/core/images";

$font-family-regular: "CiscoSansTT Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-light: "CiscoSansTT Light", "Helvetica Neue", Helvetica, Arial, sans-serif;


html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: column;
    font-family: $font-family-light;
}

.app-content {
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0;
}

.cui-main {
  height: 100%;
}

.icon-white {
    color: white;
}

.icon {
    vertical-align: -3px;
}
